<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="UTF-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#222" />
  <meta property="og:image" content="https://michalantczak.com/og_image.jpg" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132849357-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-132849357-2');
  </script>
</head>

<body>
  <!-- navigation -->
  <nav class='navigation'>
    
      <div class="navigation__layout">
        <div class='navigation__logo'>
          <button class='btn-home'><img id="image-logo" alt="logo" width='37' height='37'></button>
          <button class='btn-home'>
            <h1><span class='red'>M</span>ichal <span class='blue'>A</span>ntczak</h1>
          </button>
          <button class="navigation__toggle hidelrgdev"><i class="zmdi zmdi-menu"></i></button>
        </div>
        <div class='navigation__menu'>
          <ul class='navigation__links'>
            <a href="./skills.html"><li>Skills</li></a>
            <a href="./portfolio.html"><li>Portfolio</li></a>
            <a href="./certificaten.html"><li>Certificaten</li></a>
            <a href="./contact.html"><li>Contact</li></a>
          </ul>
          <div class='navigation__icons'>
            <a href="https://github.com/vastlaan">
                <i class="zmdi zmdi-github grey"></i>
            </a>
            <a href="https://www.linkedin.com/in/michal-antczak/">
              <i class="zmdi zmdi-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
  </nav>

  <!-- header -->
  <header class="header">
    <img width='587' height='587' id="image-decoration-1" alt='circle website decoration'>
    <img width='415' height='593' id="image-decoration-2" alt='square website decoration'>
    <img width='418' height='207' id="image-decoration-3" alt='triangular website decoration'>

    <div class='container-narrow'>
      <div class="header__layout">
        <div class="header__motto">
          <p class="para-long alhl">
            Mijn ontwerpen combineren vorm en esthetiek met stijlvolle en gestructureerde code.
          </p>
        </div>
        <div class="header__disclaimer">
          <p class=" blue para-long alhl">
            Al mijn websites zijn responsive. Elke schermdiameter heeft zijn passende layout en inhoudelijke structuur, zodat
            de website goed wordt weergegeven op verschillende apparaten
          </p>
        </div>
        <div class="header__image alhl">
          <img  id="image-myself" alt="michal antczak freelance webdeveloper" width='353' height='426'>
        </div>
        <div class="header__info">
          <h3 class="heading-3 alhr">Web Designer & Developer</h3>
          <h1 class="heading-1 alhr">
            Ben je op <strong>zoek</strong> naar iemand om jouw <span>developers</span> team te verrijken? 
          </h1>
          <p class="para-2 alhr">
            Iemand die frontend- en backend-technologieën kent en
            inzicht heeft in online marketingstrategieën?
            
          </p>
          <div class="header__info--btns">
            <button class="button-empty btn-contact alhb">Contact</button>
            <button class="button-empty btn-certificaten alhb">Certificaten</button>
          </div>
          <p class="blue para-2 alhr ">
            Stop met verder zoeken, u bent op de juiste plek! Ik ken moderne technologieën en heb ervaring met het bouwen van
            websites op verschillende platforms.
          </p>
        </div>
      </div>
    </div>
  </header>

  <!-- skills -->
  <section class="skills">
    <div class="container-narrow">
      <div class="skills__layout als1">

        <div class="skills__intro">
          <h3 class="heading-3 red">Skills</h3>
          <div class="skills__intro--image">
            <img  alt="person contemplating" id="image-1">
          </div>
          <h1 class="heading-1 black">
            Enthousiaste webontwikkelaar die al wat ervaring heeft met websites bouwen
          </h1>
          <p class="blue para-2 ">
            Met een passie voor het vak en een "let's do it" mentaliteit.
          </p>
        </div>

        <div class="skills__details">
          <h3 class="heading-3 black">Overzicht van vaardigheden</h3>
          <p class="blue para-1 ">
            Ik ontwerp functionele producten verpakt in een scherp design. Ik vind het ook heel belangrijk om up to date te zijn met moderne technologieën.
          </p>
          <p class="grey para-1 ">
            Ik begrijp de principes van iteratieve projectontwikkeling Agile / Scrum (echter heb ik geen praktijkervaring).
          </p>
          <ul class="skills__details--list">
            <li> <span class="devicons devicons-react blue"></span> Frontend Development Tools</li>
            <li><span class="devicons devicons-npm green"></span> Backend Development Tools</li>
            <li><i class="zmdi zmdi-palette red"></i> Design Tools</li>
            <li><span class="devicons devicons-database blue"></span> Cloud oplossingen en Linux VPS</li>
            <li><span class="devicons devicons-git black"></span>Git, Docker en nog meer...</li>
          </ul>
          <div class="skills__details--btn">
            <button class="button-primary btn-skills als1btn"><span>Lees verder...</span></button>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <!-- portfolio -->
  <section class="portfolio">

    <img width='415' height='593' id="image-decoration-4" alt='square website decoration'>
    <img width='216' height='216' id="image-decoration-5" class='als2deco' alt='cog website decoration'>
    <i class="zmdi zmdi-chevron-down" id="image-decoration-6"></i>

    <div class="container-narrow">
      <div class="portfolio__layout als2">

        <div class="portfolio__front">
          <h1>
            Portfolio
          </h1>
          <p class='para-long grey'>
            Ik<br/>
            kijk naar de dingen<br/>
            vanuit een ander Perspectief<br/>
          </p>
        </div>

        <div class="portfolio__center">         
            <div class="portfolio__center--str">
              <p>Creatieve oplossingen</p>
            </div>
            <div class='portfolio__center--eye'>
              <a href="./portfolio.html">PORT</a>
              <a href="./portfolio.html">FOLIO</a>
            </div>
            <div class="portfolio__center--trn">
              <p>Op maat gemaakt</p>
            </div>
        </div>

        <div class="portfolio__back">
          <div class='profolio__back--text'>
            <p class='para-long grey'>        
              UX-georiënteerde aanpak is altijd mijn prioriteit en ik zal mijn succes blijven afmeten aan de prestaties van mijn webistes.
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- slider -->
  <section class='gallery'>

    <div class="slider">

      <div class="slider__slide slider__slide--1 active-slide" id='slide-1'>
        <div class="slider__slide--container">
          <h3 class="heading-3">Web Designer & Developer</h3>
          <h1 class="heading-1">
            Ik denk <strong>constructief</strong> mee en stel <span>kritische</span> vragen
          </h1>
          <p class="para-2">
            Ik denk met de opdrachtgever mee over mogelijke oplossingen om zo efficiënt mogelijk aan de wensen van de opdrachtgever
            te voldoen          
          </p>
          <div class="slider__slide--btns">
            <button class="button-primary btn-contact"><span>Contact</span></button>
          </div>
        </div>
      </div>

      <div class="slider__slide slider__slide--2" id='slide-2'>
        <img width='415' height='593' id="image-decoration-7" alt='square website decoration'>
        <div class="slider__slide--container">
          <div class='flxcol'>
            <h1 class="heading-1">
              <span>Betrouwbaar</span> & betrokken
            </h1>
            <div class='flximg'>
              <img id='slide-2-img-1' alt="myself" width="226" height="226">
            </div>
            <h3 class="para-1 white">Michal Antczak</h3>
            <p class="para-1 grey ital">Fullstack Web Developer</p>
            <p class="para-2 ital">
              Ik transformeer ontwerpen naar functionele interfaces op mobiel en desktop
            </p>
            <button class="button-primary btn-portfolio"><span>Portfolio</span></button>
          </div>
        </div>
      </div>

      <div class="slider__slide slider__slide--3" id='slide-3'>

        <div class="slider__slide--3-links">
          <a href='https://github.io/vastlaan'>
            <i class="zmdi zmdi-github white"></i>
            <span>Github</span>
          </a>
          <a href='https://linkedin.com/michal-antczak'>
            <i class="zmdi zmdi-linkedin blue"></i>
            <span>LinkedIn</span>
          </a>
          <a href='https://www.facebook.com/webdesignstudiopurmerend'>
            <i class="zmdi zmdi-facebook blue"></i>
            <span>Facebook</span>
          </a>
          <a href="https://wa.me/31682307051?text=Hoi!%20Wij%20zijn%20geintereseerd%20in%20samenwerking%20met%20jouw.%20Neem%20een%20contact%20met%20ons!">
            <i class="zmdi zmdi-whatsapp green"></i>
            <span>WhatsApp</span>
          </a>
        </div>

        <div class="slider__slide--grid">

          <div class='flxcol hidesmldev'>
            <p class="heading-1">Volg mij online, check mij <span>github</span> account of neem gewoon contact met mij op.</p>
            <p class="para-1 ital">
              Het is belangrijk om iemand te vinden die bij uw team past. Maak met mij een kennismakingsgesprek en wie weet het, het
              wordt een perfect match.
            </p>
          </div>
          <div class='flxcol'>
            <h3 class='heading-1'><span>Contact:</span></h3>
            <ul>
              <li><a href="mailto:info@michalantczak.com">info@michalantczak.com</a></li>
              <li><a href="tel:0031682307051">(+31) (0) 6 82 30 70 51</a></li>
              <li><a href="https://itcontext.nl">www.itcontext.nl</a></li>
              <li><a href="mailto:info@itcontext.nl">info@itcontext.nl</a></li>
            </ul>
          </div>
        </div>

      </div>

    </div>
    <div class="slider__buttons">
    </div>
  </section>

  <!-- intersection -->
  <section class="intersection-1">
    <hr class='line blue' />
    <h3 class="heading-1 white tac">Duik in mijn projecten en leer mij beter kennen</h3>
    <button class="button-primary btn-portfolio"><span>Portfolio</span></button>
  </section>

  <!-- cookies statement  -->
  <section class="cookiesStatement">
    <p>
      Deze website maakt gebruik van cookies om de beste gebruikerservaring te bieden. Cookies veroorzaken geen schade aan uw
      computer en bevatten geen virussen. Door deze website te bezoeken, gaat u akkoord met ons cookiebeleid.
      <a href="./cookies.html"> Hier vind je meer informatie</a>
    </p>
    <button>
      Ok, Prima!
    </button>
  </section>

  <!-- footer -->

  <footer class='footer'>

    <div class="footer__layout">

      <div class="footer__name">
        <div class="footer__name--logo">
          <img id="image-logo-2" alt="logo" width='37' height='37'>
          <h1><span class='red'>M</span>ichal <span class='blue'>A</span>ntczak</h1>
        </div>
        <p class="para-1">Web Designer & Developer</p>
      </div>

      <div class="footer__contact">
        <a class='para-1 grey' href="mailto:info@michalantczak.com"><i class="zmdi zmdi-email"></i>info@michalantczak.com</a>
        <a class='para-1 grey' href="tel:0031682307051"><i class="zmdi zmdi-phone"></i>(+31) (0) 6 82 30 70 51</a>
      </div>

      <div class="footer__info-1">
        <p class="para-small blue">Wil je met mij samenwerken? Ik ben bereikbaar vanaf Maandag t/m Zaterdag tussen 9:00 en 17:00, of stuur mij een e-mail wanneer je wilt.</p>
      </div>

      <div class="footer__info-2">
        <p class="para-small red">Duik in mijn website, bezoek mijn social media profielen, leer mij beter kennen. Neem contact met mij en maak een afspraak voor kennismakingsgesprek.</p>
      </div>

      <div class="footer__btn footer__btn--home">
        <button class='btn-home'>
          <i class="zmdi zmdi-home blue"></i>
          Voorpagina
        </button>
      </div>

      <div class="footer__btn footer__btn--skills">
        <button class='btn-skills'>
          <i class="zmdi zmdi-code red"></i>
          Skills
        </button>
      </div>
      <div class="footer__btn footer__btn--portfolio">
        <button class='btn-portfolio'>
          <i class="zmdi zmdi-collection-case-play green"></i>
          Portfolio
        </button>
      </div>
      <div class="footer__btn footer__btn--contact">
        <button class='btn-contact'>
          <i class="zmdi zmdi-headset-mic red"></i>
          Contact
        </button>
      </div>
      <div class="footer__btn footer__btn--certificats">
        <button class='btn-certificaten'>
          <i class="zmdi zmdi-graduation-cap green"></i>
          Certificaten
        </button>
      </div>

      <!-- footer decorations -->
      <div class="footer-deco-1"></div>
      <div class="footer-deco-2"></div>
      <div class="footer-deco-3"></div>
      <div class="footer-deco-4"></div>

    </div>

    <div class="footer__copyright">
      <p class='footer__copyright--text para-small'></p>
      <ul>
        <li><a href="https://github.io/vastlaan">Github</a></li>
        <li><a href="https://linkedin.com/michal-antczak">LinkedIn</a></li>
        <li><a href="https://www.facebook.com/webdesignstudiopurmerend">Facebook</a></li>
        <li><a href="./cookies.html">Cookies Policy</a></li>
      </ul>
    </div>

  </footer>

</body>

</html>