#image-decoration-9 {
    position: absolute;
    top: 10rem;
    left: 0;
    z-index: 1;
}
#image-decoration-10 {
    position: absolute;
    bottom: 0;
    right: 0rem;
    z-index: 1;
    display: block;
    width: 36rem;
    height: 17rem;

    path {
        stroke: rgba($color-grey-secondary, 0.3);
    }
}

.contact {
    padding: 2.7rem;
    padding-top: 7rem;
    width: 100%;
    min-height: 50rem;
    background-color: $color-grey-primary;
    display: flex;
    flex-direction: center;
    align-items: center;
    position: relative;

    @include respond("xxl") {
        padding-top: 14rem;
    }

    &__grid {
        padding: 2.7rem 0rem;
        background-color: $color-grey-primary;

        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2.7rem;
        max-width: 1255px;
        margin: 0 auto;
        //border: 2px solid $color-secondary;
        //border-radius: 5px;
        z-index: 2;
        position: relative;

        @include respond("m") {
            padding: 2.7rem;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }

    &__details {
        grid-column: 1/-1;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;

        @include respond("m") {
            grid-column: 1/2;
            grid-row: 1/-1;
        }

        h3 {
            margin: 1.4rem 0;
        }
        p {
            color: $color-grey-secondary;
            margin-bottom: 1.4rem;
        }
        a {
            color: $color-grey-secondary;
            font-weight: 600;
            font-size: 1.9rem;
            position: relative;
            transition: all 0.3s;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -0.4rem;
                width: 25%;
                height: 2px;
                background-color: rgba($color-grey-secondary, 0.3);
                transition: all 0.3s;
            }

            &:hover {
                letter-spacing: 0.15rem;

                &::after {
                    width: 50%;
                    background-color: $color-secondary;
                }
            }
        }

        &--field {
            margin: 1.4rem 0;
        }
    }

    &__form {
        //transform: translateY(-14rem);
        grid-column: 1/-1;
        grid-row: 2/3;
        background-color: $color-grey-secondary;
        padding: 2.7rem;
        box-shadow: 0 0 4.7rem rgba(0, 0, 0, 0.6);
        border-radius: 5px;
        max-width: 65rem;
        border: 3px solid $color-primary;
        justify-self: end;

        @include respond("m") {
            grid-column: 2/4;
            grid-row: 1/-1;
        }

        h3 {
            margin-bottom: 1.4rem;
        }

        button {
            margin: 2.7rem 0;
        }

        &--inputs {
            margin: 2.7rem 0 1.4rem 0;
            display: flex;
            flex-wrap: wrap;

            &-i {
                display: flex;
                flex-direction: column;
                margin-right: 4.7rem;

                label {
                    font-family: $font-primary;
                    font-size: 1.6rem;
                    color: $color-grey-primary;
                    font-weight: 700;
                    margin-bottom: 0.4rem;
                }
                input {
                    border: 1px solid $color-grey-tertiary;
                    background-color: none;
                    padding: 1.4rem;
                    font-size: 1.4rem;

                    &:focus,
                    :active {
                        outline: none;
                    }
                }
            }
        }

        &--message {
            display: flex;
            flex-direction: column;
            margin-bottom: 2.7rem;

            label {
                font-family: $font-primary;
                font-size: 1.6rem;
                color: $color-grey-primary;
                font-weight: 700;
                margin-bottom: 0.4rem;
            }
            textarea {
                border: 1px solid $color-grey-tertiary;
                background-color: none;
                padding: 1.4rem;
                font-size: 1.4rem;
                max-width: 44rem;

                &:focus,
                :active {
                    outline: none;
                }
            }
        }
    }
}
