.intersection-1 {
    background-color: $color-grey-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 4.7rem 1.4rem;

    button {
        margin: 2.7rem auto;
    }

    &__buttons {
        display: flex;
        justify-content: center;

        a {
            i {
                font-size: 3.3rem;
                margin: 2.7rem;
                transition: all 0.3s;

                &:hover {
                    display: block;
                    transform: scale(1.2);
                }
            }
        }
    }
}
