.navigation {
    background-color: $color-grey-primary;
    animation: slideDown 0.6s ease-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9;

    &__menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        background-color: $color-grey-primary;
        padding: 2.7rem;
        z-index: 8;

        @include respond("m") {
            padding: 1.4rem 2.7rem;
            width: auto;
            position: static;
            flex-direction: row;
            margin-left: auto;
        }
    }

    &__layout {
        display: flex;
    }

    &__logo {
        padding: 1.4rem 2.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 9;
        background-color: $color-grey-primary;

        @include respond("m") {
            width: auto;
        }

        img {
            margin-right: 1.4rem;
        }

        h1 {
            font-size: 2.7rem;
            color: $color-grey-secondary;
            font-weight: 600;
        }
    }

    &__toggle {
        margin-left: auto;

        i {
            color: $color-secondary;
            font-size: 2.7rem;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        list-style: none;

        @include respond("m") {
            flex-direction: row;
            align-items: center;
        }

        li {
            color: white;
            font-family: $font-secondary;
            font-size: 1.6rem;
            margin: 2.7rem 0;
            transition: all 0.3s;
            position: relative;
            cursor: pointer;
            text-transform: uppercase;

            @include respond("m") {
                text-transform: unset;
                margin: 0 2.7rem 0 0;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: -1rem;
                left: 0;
                width: 1rem;
                height: 2px;
                background-color: $color-secondary;
                transition: all 0.3s;
            }

            &:hover {
                &:after {
                    width: 4rem;
                }
            }
        }
    }
    &__icons {
        display: flex;
        align-items: center;
        margin-top: 1.4rem;

        @include respond("m") {
            margin-top: 0;
        }

        a {
            span,
            i {
                display: block;
                font-size: 2.7rem;
                margin-right: 1.4rem;
                color: $color-primary;
                transition: all 0.3s;

                &:hover {
                    text-shadow: 0 0 1rem rgba($color-secondary, 0.6);
                }
            }
            img {
                transform: translateY(0.2rem);
                display: inline-block;
                width: 2.4rem;
                margin-right: 1.4rem;
            }
        }
    }
}
