#decoration-5 {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 19rem;
    height: 10rem;
}

.sklheader {
    min-height: 45rem;
    background-image: url("../img/skills-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__layout {
        padding: 1.4rem 0rem;

        @include respond("s") {
            padding: 2.7rem;
        }
    }
    &__top {
        display: inline-block;
        padding: 1.4rem;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.5rem;
            background-image: linear-gradient(
                to right,
                $color-secondary,
                $color-primary
            );
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 0.5rem;
            height: 100%;
            background-image: linear-gradient(
                to bottom,
                $color-secondary,
                $color-primary
            );
        }

        i {
            font-size: 2.7rem;
            color: $color-primary;
            margin-right: 1.4rem;
        }
        h1 {
            display: inline-block;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        padding: 2.7rem;

        @include respond("s") {
            padding: 2.7rem 4.7rem;
        }

        @include respond("xxl") {
            padding: 4.7rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0.5rem;
            height: 50%;
            background-image: linear-gradient(
                to bottom,
                $color-secondary,
                $color-primary
            );
        }

        h3 {
            margin-bottom: 1.4rem;
        }
        p {
            margin-bottom: 2.7rem;
        }
    }
}

.sklmain {
    margin-top: 2.7rem;

    &__nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;

        li {
            color: white;
            font-family: $font-secondary;
            font-size: 1.6rem;
            margin: 1.4rem;
            transition: all 0.3s;
            border: 1px solid $color-secondary;
            padding: 0.4rem 1.4rem;
            cursor: pointer;

            &:hover {
                color: $color-grey-secondary;
                background-color: $color-secondary;
            }
        }
    }

    &__list {
        padding: 2.7rem 1.4rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @include respond("m") {
            justify-content: flex-start;
        }

        &--tool {
            margin: 1.4rem;
            padding: 1.4rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond("m") {
                max-width: 26rem;
            }

            p {
                margin-bottom: 1.4rem;
                text-align: center;
            }
            span {
                margin-bottom: 1.4rem;
                font-size: 4.7rem;
            }
            img {
                width: 4.7rem;
                height: 4.7rem;
                display: inline-block;
                margin-bottom: 1.4rem;
            }
        }
    }
}
