#image-decoration-7 {
    display: none;
    position: absolute;

    @include respond("l") {
        display: block;
        top: 50%;
        right: -20rem;
        transform: translateY(-50%);
    }
}
.active-slide {
    z-index: 3 !important;
}

.slider {
    position: relative;
    width: 100%;
    min-height: 45rem;

    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: $color-white;
        overflow: hidden;
        padding: 2.7rem;

        &--container {
            max-width: 1255px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            // justify-content: center;

            h3 {
                margin-bottom: 1.4rem;
            }
            h1 {
                margin-bottom: 2.7rem;
            }
            p {
                margin-bottom: 2.7rem;
            }
        }

        &--grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            max-width: 1255px;
            height: 100%;
            margin: 0 auto;
            grid-gap: 2.7rem;
            margin-top: 2.7rem;

            @include respond("m") {
                grid-template-columns: repeat(2, 1fr);
            }

            div {
                justify-content: center;
            }

            h3 {
                margin-bottom: 2.7rem;
            }

            p {
                margin-bottom: 2.7rem;
            }

            ul {
                list-style: none;

                li {
                    margin: 2.7rem 0;
                    border-bottom: 1px solid rgba($color-primary, 0.4);

                    a {
                        font-size: 1.9rem;
                        padding: 0.7rem 0;
                        color: $color-grey-secondary;
                    }
                }
            }
        }
        &--btns {
            margin-bottom: 2.7rem;
        }

        &--1 {
            background-image: url("../img/slide-1.jpg");
            background-color: none;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &--2 {
            // background-image: url("../img/slide-1.jpg");
            // background-color: none;
            // background-size: cover;
            // background-repeat: no-repeat;
            // background-position: center;

            h1 {
                margin-bottom: 1.4rem;
            }

            h3 {
                margin-bottom: 1.4rem;
            }
            p {
                margin-bottom: 1.4rem;
                max-width: 60rem;
            }
            button {
                margin: 2.7rem auto 2.7rem 0;
            }
        }

        &--3 {
            position: relative;
            overflow: hidden;

            &-links {
                display: flex;
                justify-content: space-between;
                padding: 1.4rem;
                border-top: 2px solid rgba($color-primary, 0.4);
                max-width: 1255px;
                margin: 0 auto;

                button {
                    font-size: 1.6rem;
                }
                i {
                    margin-right: 0.4rem;

                    @include respond("s") {
                        margin-right: 1.4rem;
                    }
                }
                span {
                    color: $color-grey-secondary;
                }
            }
        }
    }
    &__buttons {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
