.active-slide {
    z-index: 3 !important;
}

.slider {
    position: relative;
    width: 100%;
    min-height: 50rem;

    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
        z-index: 1;
    }
}
