<!-- navigation -->
<nav class='navigation'>

  <div class="navigation__layout">
    <div class='navigation__logo'>
      <button class='btn-home'><img id="image-logo" alt="logo" width='37' height='37'></button>
      <button class='btn-home'>
        <h1><span class='red'>M</span>ichal <span class='blue'>A</span>ntczak</h1>
      </button>
      <button class="navigation__toggle hidelrgdev"><i class="zmdi zmdi-menu"></i></button>
    </div>
    <div class='navigation__menu'>
      <ul class='navigation__links'>
        <a href="./skills.html">
          <li>Skills</li>
        </a>
        <a href="./portfolio.html">
          <li>Portfolio</li>
        </a>
        <a href="./certificaten.html">
          <li>Certificaten</li>
        </a>
        <a href="./contact.html">
          <li>Contact</li>
        </a>
      </ul>
      <div class='navigation__icons'>
        <a href="https://michalantczak.com/en">
          <img id='image-flag-en' alt="british flag">
        </a>
        <a href="https://github.com/vastlaan">
          <i class="zmdi zmdi-github grey"></i>
        </a>
        <a href="https://www.linkedin.com/in/michal-antczak/">
          <i class="zmdi zmdi-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</nav>