.button-empty {
    padding: 1rem 1.4rem;
    font-size: 1.9rem;
    border: 1px solid $color-grey-secondary;
    color: $color-grey-secondary;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 2;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-white;
        transition: all 0.3s;
        z-index: -1;
    }

    &:hover {
        color: $color-grey-primary;

        &::after {
            top: 0;
            left: 0;
        }
    }
}
.button-full {
    padding: 0.6rem 0.9rem;
    font-size: 1.4rem;
    border: 1px solid $color-secondary;
    color: $color-grey-secondary;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 2;
    width: 20rem;
    max-width: 20rem;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-secondary;
        transition: all 0.3s;
        z-index: -1;
    }

    &:hover {
        color: $color-grey-secondary;

        &::after {
            top: 0;
            left: 0;
        }
    }
}

.button-primary {
    padding: 1rem 1.4rem;
    font-size: 1.9rem;
    background-color: $color-secondary;
    border: none;
    color: $color-grey-secondary;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 2;
    min-width: 15rem;

    span {
        transition: all 0.3s;
    }

    &::after {
        content: "Lees verder...";
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.9rem;
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: $color-primary;
        transition: all 0.3s;
        z-index: -1;
    }

    &:hover {
        span {
            display: block;
            transform: translateX(-120%);
        }

        &::after {
            top: 0;
            left: 0;
        }
    }
}
.button-secondary {
    padding: 1rem 1.4rem;
    font-size: 1.9rem;
    background-color: $color-primary;
    border: none;
    color: $color-grey-secondary;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 2;
    min-width: 15rem;

    span {
        transition: all 0.3s;
    }

    &::after {
        content: "";
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.9rem;
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: $color-secondary;
        transition: all 0.3s;
        z-index: -1;
    }

    &:hover {
        span {
            display: block;
            transform: translateX(-120%);
        }

        &::after {
            top: 0;
            left: 0;
        }
    }
}
.button-bullet {
    width: 1.4rem;
    height: 1.4rem;
    background-color: $color-grey-secondary;
    opacity: 0.9;
    margin: 1.4rem;
    border-radius: 50%;
}

.button-link {
    text-decoration: none;
    color: $color-grey-secondary;
    background-color: $color-primary;
    padding: 0.9rem 1.4rem;
    font-size: 1.9rem;
    transition: all 0.3s;

    &:hover {
        background-color: $color-secondary;
    }
}
