*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-size: inherit;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    font-size: 45%;
    font-family: $font-secondary;
    @include respond("xs") {
        font-size: 30%;
    }
    @include respond("s") {
        font-size: 50%;
    }
    @include respond("m") {
        font-size: 55%;
    }
    @include respond("l") {
        font-size: 60%;
    }
    @include respond("xl") {
        font-size: 62.5%;
    }
    @include respond("xxl") {
        font-size: 65%;
    }
    @include respond("tv") {
        font-size: 100%;
    }
}

body {
    overflow-x: hidden;
    background-color: $color-grey-primary;
}

header {
    padding: 1.4rem;
    padding-top: 10rem;
}

section {
    position: relative;
    padding: 1.4rem;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:focus,
    :active {
        outline: none;
    }
}
