.red {
    color: $color-secondary !important;
}
.blue {
    color: $color-primary !important;
}
.black {
    color: $color-grey-primary !important;
}
.white {
    color: $color-grey-secondary !important;
}
.green {
    color: $color-green;
}
.grey {
    color: $color-grey-secondary;
}
.bc-red {
    background-color: $color-secondary !important;
}
.bc-blue {
    background-color: $color-primary !important;
}
.bc-black {
    background-color: $color-grey-primary !important;
}
.bc-white {
    background-color: $color-grey-secondary !important;
}
.bc-green {
    background-color: $color-green !important;
}
.bc-grey {
    background-color: $color-grey-secondary;
}
.bc-trans-lar {
    background-color: initial;

    @include respond("m") {
        background-color: transparent !important;
    }
}
.pad-m {
    padding: 2.7rem;
}

.line {
    border: none;
    width: 20rem;
    height: 2px;
    background-color: $color-primary;
    margin: 2.7rem auto;
}
.tac {
    text-align: center;
}
.tar {
    text-align: right;
}

.flxcol {
    display: flex;
    flex-direction: column;
}
.ital {
    font-style: italic;
}
.flximg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid $color-primary;
    width: 14rem;
    height: 14rem;
    margin: 1.4rem 0;

    img {
        width: 14rem;
        height: 14rem;
    }
}

.hidesmldev {
    display: none;

    @include respond("m") {
        display: initial;
    }
}

.hidelrgdev {
    display: initial;

    @include respond("m") {
        display: none;
    }
}
