// fonts
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Montserrat", serif;

// colors

$color-primary: #1989b5;
$color-secondary: #e9002d;

$color-grey-primary: #222;
$color-grey-tertiary: #b8b3a9;
$color-grey-secondary: #f2f2f2;
$color-grey: #b8b3a9;
$color-white: white;

$color-green: #005609;
