<!DOCTYPE html>
<html lang="nl">

<head>
<meta charset="UTF-8">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#222" />
<meta property="og:image" content="og_image.jpg" />
<title>
  <%= htmlWebpackPlugin.options.title %>
</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132849357-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-132849357-2');
</script>

</head>

<body>
<!-- navigation -->
<nav class='navigation'>

  <div class="navigation__layout">
    <div class='navigation__logo'>
      <button class='btn-home'><img id="image-logo" alt="logo" width='37' height='37'></button>
      <button class='btn-home'>
        <h1><span class='red'>M</span>ichal <span class='blue'>A</span>ntczak</h1>
      </button>
      <button class="navigation__toggle hidelrgdev"><i class="zmdi zmdi-menu"></i></button>
    </div>
    <div class='navigation__menu'>
      <ul class='navigation__links'>
        <a href="./skills.html">
          <li>Skills</li>
        </a>
        <a href="./portfolio.html">
          <li>Portfolio</li>
        </a>
        <a href="./certificaten.html">
          <li>Certificates</li>
        </a>
        <a href="./contact.html">
          <li>Contact</li>
        </a>
      </ul>
      <div class='navigation__icons'>
        <a href="https://github.com/vastlaan">
          <i class="zmdi zmdi-github grey"></i>
        </a>
        <a href="https://www.linkedin.com/in/michal-antczak/">
          <i class="zmdi zmdi-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- header  -->
<header class="portheader">

  <img id='decoration-11' class='hidesmldev' alt="decoration element" />

  <div class="container-narrow">
    <div class="portheader__layout">
      <div class="portheader__top">
        <i class="zmdi zmdi-case"></i>
        <h1 class="heading-4">Portfolio</h1>
      </div>
      <div class="portheader__main">
        <h3 class="heading-1">I design, build and maintain <strong>websites</strong> of different <span>complexity</span> and scope.</h3>
        <p class="para-2">From simple single-page websites to modern and sophisticated web applications.</p>
        <button class="button-primary btn-read"><span>Read more...</span></button>
      </div>
    </div>
  </div>

</header>

<!-- projects  -->

<main class="projects">

  <div class="project">
    <div class="project__header">
      <h3 class="heading-5">Claire Hempbury - webshop</h3>
      <span class='hidesmldev'><i class="zmdi zmdi-calendar-note"></i> 2019</span>
    </div>
    <div class="project__main">
      <div class="project__main--img">
        <img alt="print screen from website" id='portfolio-image-2'>
      </div>
      <div class="project__main--details">
        <h6 class="heading-5">Tech specification:</h6>
        <ul>
          <li><i class="zmdi zmdi-chevron-right"></i>NodeJs</li>
          <li><i class="zmdi zmdi-chevron-right"></i>React</li>
          <li><i class="zmdi zmdi-chevron-right"></i>CSS + Sass</li>
          <li><i class="zmdi zmdi-chevron-right"></i>Postgresql + JWT</li>
          <li><i class="zmdi zmdi-chevron-right"></i>Stripe</li>
        </ul>
        <h6 class="heading-5">Description:</h6>
        <p>
          Claire Hembury is the fashion webshop. It contains all desired functionality. Its user interface is very easy and
          intuitive which makes navigation between sections almost natural. Website tracks recent showed products and stores
          shopping cart in in localStorage object. You can register or buy without logging in. Checkout is safe and supports many
          popular payment methods.
        </p>
        <div class="project__main--details-btns">
          <a href="https://clairehempshop.herokuapp.com" class="button-link-red"><span>Visit website</span></a>
            <a href="https://github.com/Vastlaan/webshop" class="button-link"><span>View code</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="project__header">
      <h3 class="heading-5">La Casa - resturant</h3>
      <span class='hidesmldev'><i class="zmdi zmdi-calendar-note"></i> 2020</span>
    </div>
    <div class="project__main">
      <div class="project__main--img">
        <img alt="print screen from website" id='portfolio-image-3'>
      </div>
      <div class="project__main--details">
        <h6 class="heading-5">Tech specification:</h6>
        <ul>
          <li><i class="zmdi zmdi-chevron-right"></i>GatsbyJs (React)</li>
          <li><i class="zmdi zmdi-chevron-right"></i>CSS (styled-components)</li>
          <li><i class="zmdi zmdi-chevron-right"></i>Continuous Deployment Netlify + Github</li>
        </ul>
        <h6 class="heading-5">Description:</h6>
        <p>
          La Casa Restaurant is the italian restaurant. Their website present the company as sofisticated and elegant place.
          Visitor can chose the language and deep in the menu available online. For those who want to reserve the table special
          resevation system collect all necessary data including coronavirus disclaimer. Guests can also send a contact form if
          they have any questions.
        </p>
        <div class="project__main--details-btns">
          <a href="https://condescending-euclid-455bb0.netlify.app/nl/" class="button-link-red"><span>Visit website</span></a>
          <a href="https://github.com/Vastlaan/restaurant.git" class="button-link"><span>View code</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="project__header">
      <h3 class="heading-5">Project Elementor</h3>
      <span class='hidesmldev'><i class="zmdi zmdi-calendar-note"></i> 2020</span>
    </div>
    <div class="project__main">
      <div class="project__main--img">
        <img alt="print screen from website" id='portfolio-image-7'>
      </div>
      <div class="project__main--details">
        <h6 class="heading-5">Tech specification:</h6>
        <ul>
          <li><i class="zmdi zmdi-chevron-right"></i>React</li>
          <li><i class="zmdi zmdi-chevron-right"></i>CSS (styled-components)</li>
        </ul>
        <h6 class="heading-5">Description:</h6>
        <p>
          It is made by me React template, inspired by the similar Wordpress template.
        </p>
        <div class="project__main--details-btns">
          <a href="http://showroom.itcontext.nl/template-1" class="button-link-red"><span>Visit website</span></a>
            <a href="http://showroom.itcontext.nl/template-1" class="button-link"><span>View code</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="project__header">
      <h3 class="heading-5">Royal Resume Generator</h3>
      <span class='hidesmldev'><i class="zmdi zmdi-calendar-note"></i> 2019</span>
    </div>
    <div class="project__main">
      <div class="project__main--img">
        <img alt="print screen from website" id='portfolio-image-5'>
      </div>
      <div class="project__main--details">
        <h6 class="heading-5">Tech specification:</h6>
        <ul>
          <li><i class="zmdi zmdi-chevron-right"></i>NodeJs</li>
          <li><i class="zmdi zmdi-chevron-right"></i>React</li>
          <li><i class="zmdi zmdi-chevron-right"></i>CSS + Sass</li>
          <li><i class="zmdi zmdi-chevron-right"></i>Handlebars + Pupperteer</li>
        </ul>
        <h6 class="heading-5">Description:</h6>
        <p>
          This Website is a free service allowing users generate their own resume, based on the template created by myself. The
          resume is filled by information provided by user in the form. Each section of the form is equivalent to the resume
          section, some fields are required, some have restricted amount of characters. Resume is generated on server side
          instance of Chrome. For this I use puppeteer and handlebars libraries. Then file is saved temporary (not in database) on
          server side and send to the client, where it is handled by browser (downloaded or opened). Service is free of charge,
          however user can 'donate' me using Paypal donate button. I do not store any information provided by client in the form,
          to make usage save and comfortable for users. Feel free to check it out!
        </p>
        <div class="project__main--details-btns">
          <a href="https://www.royalresumegenerator.com" class="button-link-red"><span>Visit
              website</span></a>
            <a href="https://github.com/Vastlaan/royalresumegenerator" class="button-link"><span>View code</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="project__header">
      <h3 class="heading-5">Barber - kapsalon</h3>
      <span class='hidesmldev'><i class="zmdi zmdi-calendar-note"></i> 2018</span>
    </div>
    <div class="project__main">
      <div class="project__main--img">
        <img alt="print screen from website" id='portfolio-image-4'>
      </div>
      <div class="project__main--details">
        <h6 class="heading-5">Tech specification:</h6>
        <ul>
          <li><i class="zmdi zmdi-chevron-right"></i>NodeJs</li>
          <li><i class="zmdi zmdi-chevron-right"></i>React</li>
          <li><i class="zmdi zmdi-chevron-right"></i>CSS + Sass</li>
          <li><i class="zmdi zmdi-chevron-right"></i>Postgresql</li>
          <li><i class="zmdi zmdi-chevron-right"></i>Eigen CMS - Psql + AWS S3</li>
        </ul>
        <h6 class="heading-5">Description:</h6>
        <p>
        Barber Hairdresser is the hairdresser saloon. This neat and functional Web Application is made for the hairdresser
        salon. It's more than only informative website where customer can find prices and look at the beautifull and ease to use
        photo gallery. It's also elegant and easy way to send a contact request and make the appointments online.
        </p>
        <div class="project__main--details-btns">
          <a href="https://kapsalon.michalantczak.com" class="button-link-red"><span>Visit
              website</span></a>
            <a href="https://github.com/Vastlaan/kapsalon.michalantczak.com" class="button-link"><span>View code</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="project__header">
      <h3 class="heading-5">Noir Fatale - dark electronics</h3>
      <span class='hidesmldev'><i class="zmdi zmdi-calendar-note"></i> 2018</span>
    </div>
    <div class="project__main">
      <div class="project__main--img">
        <img  alt="print screen from website" id='portfolio-image-1'>
      </div>
      <div class="project__main--details">
        <h6 class="heading-5">Tech specification:</h6>
        <ul>
          <li><i class="zmdi zmdi-chevron-right"></i>GatsbyJs (React)</li>
          <li><i class="zmdi zmdi-chevron-right"></i>CSS Modules</li>
        </ul>
        <h6 class="heading-5">Description:</h6>
        <p>
          It's my private music project website. Making music is my big passion. This website has been created with build on React GatsbyJs and CSS modules. I invite you to visit and listen to my dark,
          original, electronic music.
        </p>
        <div class="project__main--details-btns">
          <a href='https://noirfatale.com' class="button-link-red"><span>Visit website</span></a>
          <a href='https://noirfatale.com' class="button-link"><span>View code</span></a>
        </div>
      </div>
    </div>
  </div> 
</main>

  <!-- cookies statement  -->
  <section class="cookiesStatement">
    <p>
      This website uses cookies to deliver best user experience.Cookies do not
      cause any harm to your computer and do not contain viruses. By visiting
      this website you agree to our cookies policy.
      <a href="./cookies.html"> Here you will find more information</a>
    </p>
    <button>
      Ok, Prima!
    </button>
  </section>

  <!-- footer -->
  
  <footer class='footer'>
  
    <div class="footer__layout">
  
      <div class="footer__name">
        <div class="footer__name--logo">
          <img id="image-logo-2" alt="logo" width='37' height='37'>
          <h1><span class='red'>M</span>ichal <span class='blue'>A</span>ntczak</h1>
        </div>
        <p class="para-1">Web Designer & Developer</p>
      </div>
  
      <div class="footer__contact">
        <a class='para-1 grey' href="mailto:info@michalantczak.com"><i
            class="zmdi zmdi-email"></i>info@michalantczak.com</a>
        <a class='para-1 grey' href="tel:0031682307051"><i class="zmdi zmdi-phone"></i>(+31) (0) 6 82 30 70 51</a>
      </div>
  
      <div class="footer__info-1">
        <p class="para-small blue">Do you want to work with me? I am available from Monday to Saturday between 9:00 and
          17:00, or send me an e-mail
          whenever you want.</p>
      </div>
  
      <div class="footer__info-2">
        <p class="para-small red">Dive into my website, visit my social media profiles, get to know me better. Contact me
          and make an appointment
          for an introductory meeting.</p>
      </div>
  
      <div class="footer__btn footer__btn--home">
        <button class='btn-home'>
          <i class="zmdi zmdi-home blue"></i>
          Homepage
        </button>
      </div>
  
      <div class="footer__btn footer__btn--skills">
        <button class='btn-skills'>
          <i class="zmdi zmdi-code red"></i>
          Skills
        </button>
      </div>
      <div class="footer__btn footer__btn--portfolio">
        <button class='btn-portfolio'>
          <i class="zmdi zmdi-collection-case-play green"></i>
          Portfolio
        </button>
      </div>
      <div class="footer__btn footer__btn--contact">
        <button class='btn-contact'>
          <i class="zmdi zmdi-headset-mic red"></i>
          Contact
        </button>
      </div>
      <div class="footer__btn footer__btn--certificats">
        <button class='btn-certificaten'>
          <i class="zmdi zmdi-graduation-cap green"></i>
          Certificats
        </button>
      </div>
  
      <!-- footer decorations -->
      <div class="footer-deco-1"></div>
      <div class="footer-deco-2"></div>
      <div class="footer-deco-3"></div>
      <div class="footer-deco-4"></div>
  
    </div>
  
    <div class="footer__copyright">
      <p class='footer__copyright--text para-small'></p>
      <ul>
        <li><a href="https://github.io/vastlaan">Github</a></li>
        <li><a href="https://linkedin.com/michal-antczak">LinkedIn</a></li>
        <li><a href="https://www.facebook.com/webdesignstudiopurmerend">Facebook</a></li>
        <li><a href="./contact.html">Cookies Policy</a></li>
      </ul>
    </div>
  
  </footer>

</body>

</html>